@using Microsoft.AspNetCore.Identity
@model IEnumerable<Part>
@inject SignInManager<SiteUser> SignInManager
@inject UserManager<SiteUser> UserManager

<ul>
    @foreach (var parts in Model.GroupBy(t => t.Name))
    {
        <li class="name">
        Item Name: @parts.Key
          <ul>
                @foreach (var item in parts)
                {
                    <li class="engineer">
                        Serial Number: @item.SerialNumber - 
                        @if (item.Engineer.ContentType != null)
                        {
                            <img src="@Url.Action("GetImage", "Home", new {userid = item.EngineerId})" />
                        }else
                        {
                            <img src="profile_picture.jpg" />
                        }
                        @item.Engineer.FirstName @item.Engineer.LastName
                        @if (item.EngineerId == UserManager.GetUserId(User))
                        {
                            <a href="/Home/Delete?uid=@item.Uid">Delete</a>
                        }
                    </li>
                }
          </ul>
        </li>
    }

</ul>
