@using Microsoft.AspNetCore.Identity
@model IEnumerable<Part>
@inject SignInManager<SiteUser> SignInManager
@inject UserManager<SiteUser> UserManager

<div>
    @if (TempData["DeleteSuccessMessage"] != null)
    {
        <div class="alert alert-success" id="delete-success-alert">
            @TempData["DeleteSuccessMessage"]
        </div>
    }

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" id="success-alert">
            @TempData["SuccessMessage"]
        </div>
    }
    <ul>
        @foreach (var parts in Model.GroupBy(t => t.Name))
        {
            <li class="name">
                Item Name: @parts.Key
                <ul>
                    @foreach (var item in parts)
                    {
                        <li class="engineer">
                            Serial Number: @item.SerialNumber -
                            @if (item.Engineer.ContentType != null)
                            {
                                <img src="@Url.Action("GetImage", "Home", new {userid = item.EngineerId})" />
                            }
                            else
                            {
                                <img src="~/pictures/default_profile_picture.png" />
                            }
                            @item.Engineer.FirstName @item.Engineer.LastName
                            @if (item.EngineerId == UserManager.GetUserId(User))
                            {
                                <a href="/Part/DeletePart?uid=@item.Uid" class="btn btn-danger">Delete</a>
                            }
                        </li>
                    }
                </ul>
            </li>
        }

    </ul>
</div>


<script>

    function hideAlert() {
        $('#success-alert').alert('close');
        $.ajax({
            url: '/Part/ResetSuccessMessage',
            method: 'POST',
            success: function () {
            }
        });
    }

    setTimeout(hideAlert, 5000);
</script>

<script>
    function hideDeleteSuccessAlert() {
        $('#delete-success-alert').alert('close');
        $.ajax({
            url: '/Part/ResetDeleteSuccessMessage',
            method: 'POST',
            success: function () {
            }
        });
    }

    setTimeout(hideDeleteSuccessAlert, 5000);
</script>
