@using Microsoft.AspNetCore.Identity
@model IEnumerable<Meeting>
@inject SignInManager<SiteUser> SignInManager
@inject UserManager<SiteUser> UserManager


<div>
    @if (TempData["DeleteSuccessMessage"] != null)
    {
        <div class="alert alert-success" id="delete-success-alert">
            @TempData["DeleteSuccessMessage"]
        </div>
    }

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" id="success-alert">
            @TempData["SuccessMessage"]
        </div>
    }
    <div class="row row-cols-1 row-cols-md-4 g-4">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Topics: @item.Topics</h6>
                        <p class="card-text">Start: @item.StartingTime - End: @item.EndingTime</p>
                        @if (item.TeamPrincipalId == UserManager.GetUserId(User))
                        {
                            <a href="/Meeting/DeleteMeeting?uid=@item.Uid" class="btn btn-danger">Delete</a>
                        }  
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>

    function hideAlert() {
        $('#success-alert').alert('close');
        $.ajax({
            url: '/Meeting/ResetSuccessMessage',
            method: 'POST',
            success: function () {
            }
        });
    }

    setTimeout(hideAlert, 5000);
</script>

<script>
    function hideDeleteSuccessAlert() {
        $('#delete-success-alert').alert('close');
        $.ajax({
            url: '/Meeting/ResetDeleteSuccessMessage',
            method: 'POST',
            success: function () {
            }
        });
    }

    setTimeout(hideDeleteSuccessAlert, 5000);
</script>