@using Microsoft.AspNetCore.Identity
@model IEnumerable<Test>
@inject SignInManager<SiteUser> SignInManager
@inject UserManager<SiteUser> UserManager

@{
    int count = 0;
}

<h4>Test</h4>
@if ((await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Driver"))
|| (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin")))
{
    <div id="createbtn">
        <a asp-action="AddTest" class="btn btn-success">Create +</a>
    </div>
}
<hr />
<div class="row">
    @if (TempData["DeleteSuccessMessage"] != null)
    {
        <div class="alert alert-success" id="delete-success-alert">
            @TempData["DeleteSuccessMessage"]
        </div>
    }

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" id="success-alert">
            @TempData["SuccessMessage"]
        </div>
    }


    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Test name</th>
                <th scope="col">Part name</th>
                <th scope="col">Starting time</th>
                <th scope="col">Ending time</th>
                <th scope="col">Added by</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                    count++;
                    <tr>
                        <th scope="row">@count</th>
                        <td>@item.Name</td>
                        <td>@item.PartName</td>
                        <td>@item.StartingTime</td>
                        <td>@item.EndingTime</td>
                        <td>@item.Driver.FirstName @item.Driver.LastName</td>
                        @if (item.DriverId == UserManager.GetUserId(User))
                        {
                            <td><a href="/Test/DeleteTest?uid=@item.Uid" class="btn btn-danger">Delete</a></td>
                        }
                    </tr>
            }
        </tbody>
    </table>
</div>

<script>

    function hideAlert() {
        $('#success-alert').alert('close');
        $.ajax({
            url: '/Test/ResetSuccessMessage',
            method: 'POST',
            success: function () {
            }
        });
    }

    setTimeout(hideAlert, 5000);
</script>

<script>
    function hideDeleteSuccessAlert() {
        $('#delete-success-alert').alert('close');
        $.ajax({
            url: '/Test/ResetDeleteSuccessMessage',
            method: 'POST',
            success: function () {
            }
        });
    }

    setTimeout(hideDeleteSuccessAlert, 5000);
</script>

